$_header_height :                   172px;
$_nav_menu_height :                 40px;

$bg_dark_color:                     #383636;
$bg_light_color:                    #eee;
$link_color:                        #4a90e2;
$text_on_dark_bg_color:             #ccc;
$text_emphasized_on_dark_bg_color:  #fff;
$text_on_light_bg_color:            #494747;
$text_on_medium_dark_bg_color:      #333;

$primary_color:                     #84BD00;
$success_color:                     $primary_color;
$error_color:                       #D05C50;
$error_bg_color:                    #FFE4E4;

$rounded_corner_radius:             5px;