body {
  font-family: "Helvetica Neue";
  /*margin: 20px;*/
}

ul {
  list-style-type: none;
}

.node {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #eee;
  margin: 10px;
  padding: 5px;
  overflow: auto
}

.node-select {
  float: left;
  margin-right: 10px;
}

.content {
  float: left;
  min-width: 50%;
}

.content textarea {
  width: 90%;
  border-radius: 5px;
  border-color: #ccc;
}

.content input[type=checkbox] {
  margin-right: 5px;
}

.keypress {
  float: left;
  border: 1px solid #bbb;
  border-radius: 5px;
  background-color: #ddd;
  padding: 5px 10px;
  margin: 10px;
}

h5 {
  margin-top: 0;
  float: left;
}

h3 {
  color: #BF616A;
}

.hidden {
  display: none;
}

.togglable {
  color: #D78770;
  cursor: pointer;
}

.togglable-down::after,
.togglable-up::after {
  font-size: 8px;
  margin-left: 0.5em;
}

.togglable-down::after {
  content: "▼";
  display: inline-block;
}

.togglable-up::after {
  content: "▶";
  display: inline-block;
}