$font: 'Helvetica', 'Arial', 'sans-serif';
$error_text_color: #990000;
$main_blue: #008FD2;

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: $font;
  font-size: 12px;
  line-height: 1.6em;
  color: #3f3f3f;
}

#header {
  width: 100%;
  margin-bottom: 0px;
}

.left {
   float: left;
 }

.right {
  float: right;
}

.clear_both, .clearBoth {
  clear: both;
  line-height: 1px;
}

.padding_large {
  padding: .8em;
}

.panel-heading-chev a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}

.panel-heading-chev a.collapsed:after {
  content:"\e080";
}

.panel-body {
  color: #000;
}

.btn-create{
  border: 1px solid #84BD00;
  background-color: #84BD00;
  color: #fff;
}

.btn-create, .btn-create:hover, .btn-create:focus, .btn-create:active, a.btn-create, a.btn-create:visited{
  border:1px solid #84BD00;
  background-color:#84BD00;
  color:#fff;
}
.btn-create:hover, .btn-create:focus, .btn-create:active{
  border:1px solid #79ae00;
  background-color:#7db300;
}

textarea.form-control {
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input.form-control {
  display: inline;
  width: auto;
  margin-top: 10px;
}

.node-select {
  margin: 10px;
  width: auto;
  padding: 5px 25px 5px 5px;
  font-size: 12px;
}

label {
  font-weight: 400;
  margin-top: 10px;
}

body {
  font-family: "Helvetica Neue";
  /*margin: 20px;*/
}

@media (min-width: 1200px) {
  .container {
    width: 95%;
  }
}

ul {
  list-style-type: none;
}

.node {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
  margin: 10px;
  padding: 5px;
  overflow: auto
}

.node-select {
  float: left;
  margin-right: 10px;
}

.content {
  float: left;
  min-width: 50%;
}

.content textarea {
  width: 90%;
  border-radius: 4px;
  border-color: #ccc;
}

.content input[type=checkbox] {
  margin-right: 5px;
}

.keypress {
  float: left;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: #ddd;
  padding: 5px 10px;
  margin: 10px;
}

h5 {
  margin-top: 0;
  float: left;
}

h3 {
  color: #BF616A;
}

.hidden {
  display: none;
}

.togglable {
  color: #D78770;
  cursor: pointer;
}

.togglable-down::after,
.togglable-up::after {
  font-size: 8px;
  margin-left: 0.5em;
}

.togglable-down::after {
  content: "▼";
  display: inline-block;
}

.togglable-up::after {
  content: "▶";
  display: inline-block;
}

.trash-btn {
  background: transparent;
  border: transparent;
}

.trash-glyph {
  color: #999999;
  vertical-align: middle;
}


